<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CodeFury</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="chat.css">

</head>
<script src="http://localhost:3000/socket.io/socket.io.js"></script>

<body>
  <div class="nav">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">CodeFury</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/">Home</a>
          </div>
          <div class="navbar-nav ml-auto">
            <% if(!currentUser) {%>
            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/register">Register</a>
            <% } else {%>
            <a class="nav-link" href="/logout">Logout</a>
            <% } %>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <script>
    $(() => {
      $("#send").click(() => {
        sendMessage({
          name: $("#name").val(),
          message: $("#message").val()
        });
      })
      getMessages()
    })

    var socket = io();

    socket.on("message", addMessages)

    function addMessages(message) {
      $("#messages").append(`<h4> ${message.name} </h4><p>  ${message.message} </p>`)
    }

    function getMessages() {
      $.get("http://localhost:3000/messages/?id=<%-currentUser._id%>", (data) => {
        data.forEach(addMessages);
      })
    }

    function sendMessage(message) {
      $.post("http://localhost:3000/messages/<%-currentUser._id%>/<%-currentUser.email%>", message)
    }
  </script>
  <div class="container">
    <br>
    <div class="jumbotron">
      <h1 class="akhil">Please Enter Your Message</h1>
      <br>
      <textarea id="message" class="form-control" placeholder="Please Enter Your Message Here" rows="4" cols="50">
 </textarea>
      <br>
      <button type="button" id="send" class="btn btn-outline-success">Send</button>
    </div>
    <div id="messages">

    </div>
  </div>
</body>